#side-slider-header {
  white-space: nowrap;
  margin-right: 15px;
  font-family: var(--codeFont);
  font-size: var(--tiny);
  letter-spacing: -0.05em;
  display: inline-block;
  height: 22px;
}

#side-slider {
  position: absolute;
  bottom: 5vh;
  left: 5px;
  display: flex;
  align-items: flex-end;
  width: 100%;
}

#side-slider-main {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

#side-slider-opacity {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(241, 241, 241, 1) 5px,
    rgba(241, 241, 241, 0.6) 10px,
    rgba(241, 241, 241, 0.3) 20px,
    rgba(241, 241, 241, 0) 15px
  );
  z-index: 2;
}

.side-slider-item {
  margin: 0 20px 0 20px;
  line-height: 22px;
}

.side-slider-sub {
  white-space: nowrap;
  font-family: var(--codeFont);
  font-size: var(--tiny);
  color: var(--text);
  letter-spacing: -0.05em;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  display: inline-block;
  animation: marquee 30s linear infinite;
  animation-delay: 0s;
}

/* #side-slider-sub1 {
  display: inline-block;
  animation: marquee 30s linear infinite;
  animation-delay: 0s;
}

#side-slider-sub2 {
  display: inline-block;
  animation: marquee 30s linear infinite;
  animation-delay: 0s;
} */

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
  .side-slider-sub {
    animation: marquee 60s linear infinite;
  }

  #side-slider-opacity {
    background: linear-gradient(
      90deg,
      rgba(241, 241, 241, 1) 2.5px,
      rgba(241, 241, 241, 0.6) 5px,
      rgba(241, 241, 241, 0.3) 7.5px,
      rgba(241, 241, 241, 0) 10px
    );
  }

  #side-slider {
    bottom: 20vh;
  }
}
