:root {
  /* Colors */
  --disabled: #dcdcdc;
  --highlight: #fba500;
  --header: #000000;
  --text: #747474;
  --shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --background: #f1f1f1;
  /* Font families */
  --codeFont: 'Source Code Pro';
  --sansFont: 'Open Sans';
  /* Font sizes */
  --splash: 96px;
  --header: 36px;
  --subheader: 24px;
  --body: 22px;
  --subtext: 18px;
  --minor: 14px;
  --tiny: 12px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
  :root {
    --splash: 48px;
    --header: 36px;
    --subheader: 22px;
    --body: 18px;
    --subtext: 12px;
    --minor: 11px;
    --tiny: 10px;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
  :root {
    --splash: 48px;
    --header: 36px;
    --subheader: 20px;
    --body: 18px;
    --subtext: 12px;
    --minor: 11px;
    --tiny: 10px;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--sansFont);
  position: relative;
  margin: 0;
  color: #000000;
  padding: 0;
  background-color: var(--background);
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

#main-nav {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;

  height: 60px;
  background-color: #ffffff;
  z-index: 99;
}

#main-nav-inner {
  padding: 10px 5px 10px 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  max-width: 1024px;
}

.nav-item {
  text-decoration: none;
  font-family: var(--codeFont);
  color: var(--text);
  margin-left: 20px;
  transition: all ease 0.15s;
}

.nav-item-active {
  color: var(--highlight);
}

.body-block {
  /* Dims */
  max-width: 1024px;
  width: 100%;
  padding: 10px 5px 10px 5px;

  /* Positioning */
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#block1 {
  position: relative;
}

#scroll-suggest {
  position: absolute;
  right: 10px;
  bottom: 25px;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: var(--codeFont);
  font-size: var(--splash);
  font-weight: bold;
  color: var(--header);
  letter-spacing: 0.05em;
  margin: 0;
}

h2 {
  font-family: var(--codeFont);
  font-size: var(--header);
  font-weight: bold;
  margin: 0 0 20px 0;
  color: var(--header);
  letter-spacing: 0.15em;
}

h3 {
  font-family: var(--codeFont);
  color: var(--highlight);
  font-size: var(--subheader);
  font-weight: bold;
  margin: 0;
  letter-spacing: 0.1em;
}

p {
  font-family: var(--sansFont);
  font-size: var(--body);
  color: var(--text);
  margin: 0;
}

a {
  color: var(--text);
  font-weight: bold;
  font-size: var(--subtext);
}

li {
  margin-bottom: 10px;
}

.noMargin {
  margin: 0;
}

#emailButton {
  text-decoration: none;
  margin-top: 25px;
  background-color: white;
  color: var(--highlight);
  padding: 20px 50px 20px 50px;
  box-shadow: var(--shadow);
  font-family: var(--codeFont);
  letter-spacing: 0.1em;
}

#social-bar {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-top: 20px;
}

.social-icon {
  height: 36px;
  width: 36px;
  margin: 0 15px 0 15px;
}
