html,
body {
  height: 100%;
  min-height: 100%;
}

:root {
  /* PRIMARY COLORS */
  --myGrey: #121212;
  --secondary: #303030;
  --myOrange: #ffb300;
}

.secondary {
  color: var(--secondary);
}

.bold {
  font-weight: bold;
}

.major {
  font-weight: bold;
  color: var(--myOrange);
}

.simple-link {
  color: white;
}

.simple-link:hover {
  text-decoration: underline;
  color: var(--myOrange);
  cursor: pointer;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--myGrey) !important;
  color: white !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
